.header{
    text-align: center;
    font-size: xx-small;
}
.header-md::after{
    background-image: none !important;
 }
.container{
    padding: 12px;
}
input[type=text],input[type=password],input[type=email],input[type=number]{
    width: 100%;
    margin: 0 0 10px 0;
    padding: 8px 14px;
    font-size: small;
    border: 1px solid;
    border-color: rgb(219, 219, 219);
}
::placeholder{
    color: rgb(170, 169, 169);
    opacity: 1;
 }
input {
    outline: none !important;
}
.button{
    text-transform: none;
    border-radius: 4px;
}
.ibar{
   text-align: center;
   font-size: small;
}
.alert{
    color: red;
    font-size: smaller;
}