.header-md::after{
        background-image: none !important;
 }

 .header{
     text-align: center;
     font-size: xx-small;
 }
.row1card{
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 50%;

}
.row2card{
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 50%;

}