<ion-header [translucent]="true">
  <ion-toolbar class="header">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="row1card">
      <ion-card>
        <img src="assets/icon/math.jpg">
        <ion-card-title>Card Title</ion-card-title>
      </ion-card>
      <ion-card>
        <img src="assets/icon/english.jpg">   
        <ion-card-title>Card Title</ion-card-title>
       </ion-card>
  </div>

  <div class="row2card">
    <ion-card>
      <img src="assets/icon/GK.jpg">
      <ion-card-title>Card Title</ion-card-title>
    </ion-card>
    <ion-card>
      <img src="assets/icon/science.jpg">   
      <ion-card-title>Card Title</ion-card-title>
    </ion-card>
</div>
</ion-content>
